.bouton-onglet {
    background-color: #8e44ad;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.bouton-onglet:hover {
    background-color: #9b59b6;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

